LOCAL_API_ENV=development
LOCAL_API_DEBUG=true

LOCAL_API_HOST=0.0.0.0
LOCAL_API_PORT=8000

LOCAL_API_INNOVASOFT_API_BASE_URL=https://pruebareactjs.test-class.com/Api/
LOCAL_API_INNOVASOFT_TIMEOUT_SECONDS=30

LOCAL_API_MONGODB_URI=mongodb://localhost:27017
LOCAL_API_MONGODB_DB_NAME=innovasoft_local

LOCAL_API_CORS_ORIGINS=http://localhost:5173
